{{! REQUIRED: replace *YOUR_DISQUS_SHORTNAME* with your own shortname }}
<section class="postContent" data-username="*YOUR_DISQUS_SHORTNAME*" data-ghostid="ghost-{{id}}" id="disqus_thread"></section>
<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
