{{!< default}}
{{! The comment above "< default" means - insert everything in this file into
    the {body} of the default.hbs template, which contains our header/footer. }}

{{! This is a page template. A page outputs content just like any other post, and has all the same
    attributes by default, but you can also customise it to behave differently if you prefer. }}
<div id="container" class="{{body_class}}" >

{{! Everything inside the #post tags pulls data from the page }}
{{#post}}

<div class="articleContainer">
    <div class="articleContent">
        <div class="titleTags">{{tags separator=" , "}}</div>
        <h1>{{title}}</h1>
        <hr />
        {{content}}
    </div>
</div>
{{/post}}
</div>
